{% extends 'base.html' %}

{% block titel %}Gebiet bearbeiten{% endblock titel %}

{% block data %}
{% if area.id %}
    <form action="{% url 'wbsa:area_edit' area.id %}" method="post" class="form-object-edit mt-5">
{% else %}
    <form action="{% url 'wbsa:area_new' %}" method="post" class="form-object-edit mt-5">
{% endif %}
    {% csrf_token %}
        <div class="field-group my-5">
            <div class="row mb-2">
                <h5 class="offset-sm-3">Gebiet</h5>
            </div>
	        <div class="row mb-3">
                <label for="name" class="col-sm-3 col-form-label text-lg-end">Name</label>
                <div class="col">
                    <input type="text" name="name" value="{{ area.name }}" maxlength="64" class="form-control" placeholder="Name" id="name">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label text-lg-end" for="is_parent">ist ein Fahrzeug</label>
                <div class="col py-2">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="is_parent" id="is_parent" {%if area.is_parent%}checked{%endif%}>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="parent" class="col-sm-3 col-form-label text-lg-end">Fahrzeug</label>
                <div class="col">
                    <select class="form-select" name="parent" id="parent">
                        <option value="None">None</option>
                        {% for parent in parent_area_list %}
                        <option value="{{parent.id}}"{%if area.parent == parent %}selected{%endif%}>{{parent.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="text-end my-3">
                <button type="submit" name="update" class="btn btn-primary">Speichern</button>
                <a class="btn btn-outline-danger" href="{% url 'wbsa:area_list' %}">Abbrechen</a>
        </div>
    </form>

{% endblock data %}








