{% extends 'base.html' %}

{% block titel %}Gebiete und Fahrzeuge{% endblock titel %}

{% block data %}

{% if area_list %}
<div class="row justify-content-center">
    <div class="col-md-3">
        <form method="post" action="{% url 'frontend:area_delete' %}" class="my-md-3">
        {% csrf_token %}
        <h4>Fahrzeuge</h4>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for area in area_list %}
            {% if area.is_parent %}
                <tr>
                    <td>{{area.name}}</td>
                    <td class="noprint text-end text-nowrap">
                        <a class="btn btn-sm btn-success" type="button" onclick="showAreaDetails({{area.id}})">
                            <i class="bi bi-info-circle"></i>
                        </a>
                        <a class="btn btn-sm btn-warning" href="{% url 'frontend:area_edit' area.id %}" type="button">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <button type="submit" name="action" value="{{area.id}}" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </form>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
        <form method="post" action="{% url 'frontend:area_delete' %}" class="my-md-3">
        {% csrf_token %}
        <h4>Gebiete</h4>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th><input type="checkbox" class="toggle form-check-input" name="select_all"></th>
                    <th>Name</th>
                    <th>Fahrzeug</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for area in area_list %}
            {% if not area.is_parent %}
                <tr>
                    <td><input type="checkbox" class="toggle form-check-input" value="{{area.id}}" name="select_row"></td>
                    <td>{{area.name}}</td>
                    <td>{{area.parent}}</td>
                    <td class="noprint text-end text-nowrap">
                        <a class="btn btn-sm btn-success" type="button" onclick="showAreaDetails({{area.id}})">
                            <i class="bi bi-info-circle"></i>
                        </a>
                        <a class="btn btn-sm btn-warning" href="{% url 'frontend:area_edit' area.id %}" type="button">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <button type="submit" name="action" value="{{area.id}}" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'frontend:area_new' %}" type="button" class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> Neues Gebiet</a>
        <button type="submit" name="action" value="delete_areas" class="btn btn-danger btn-sm">
            <i class="bi bi-trash3"></i> Delete Selected
        </button>
        </form>
    </div>
</div>
<div id="area_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details des Gebietes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p id="area_detail"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% else %}
Keine Gebiete oder Fahrzeuge angelegt!<br>
    <a href="{% url 'frontend:area_new' %}" class="btn btn-primary my-3">Neues Gebiet oder Fahrzeug anlegen</a>
</ul>
{% endif %}
{% endblock data %}