{% extends 'base.html' %}

{% block titel %}Gebiet bearbeiten{% endblock titel %}

{% block data %}
{% if area.id %}
    <form action="{% url 'frontend:area_edit' area.id %}" method="post" class="form-object-edit mt-5">
{% else %}
    <form action="{% url 'frontend:area_new' %}" method="post" class="form-object-edit mt-5">
{% endif %}
    {% csrf_token %}
        <div class="field-group my-5">
            <div class="row mb-2">
                <h5 class="offset-sm-3">Gebiet</h5>
            </div>
	        {% for field in form %}
	        <div class="row mb-3">
                {{ field.errors }}
                <label for="name" class="col-sm-3 col-form-label text-lg-end">{{ field.label_tag }}</label>
                <div class="col">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
        <div class="text-end my-3">
                <button type="submit" name="update" class="btn btn-primary">Speichern</button>
                <a class="btn btn-outline-danger" href="{% url 'frontend:area_list' %}">Abbrechen</a>
        </div>
    </form>

{% endblock data %}








