{% extends 'base.html' %}

{% block titel %}Termin zur Abholung{% endblock titel %}

{% block data %}
{% if appointment.id %}
    <form autocomplete="new-password" action="{% url 'wbsa:appointment_edit' appointment.id %}" method="post" class="form-object-edit mt-5">
{% else %}
    <form autocomplete="new-password" action="{% url 'wbsa:appointment_new' %}" method="post" class="form-object-edit mt-5">
{% endif %}
    {% csrf_token %}
        <div class="field-group my-5">
            <div class="row mb-2">
                <h5 class="offset-sm-3">Kontaktdaten</h5>
            </div>
	        <div class="row mb-3">
                <label for="name" class="col-sm-3 col-form-label text-lg-end">Name*</label>
                <div class="col">
                    <input type="text" name="name" value="{{ appointment.contact_name }}" maxlength="64" class="form-control" placeholder="Name auf Klingelschild" id="name">
                </div>
            </div>

            <div class="row mb-3">
                <label for="street" class="col-sm-3 col-form-label text-lg-end">Straße*</label>
                <div class="col autocomplete">
                    <input type="text" name="street" value="{{ appointment.street }}" class="form-control" id="street" placeholder="Straße" autocomplete="off">
                    <script>
                        var streets = [{% for street in street_list %}"{{street.name}}",{% endfor %}];
                        autocomplete(document.getElementById("street"), streets);
                    </script>
                </div>
            </div>
            <div class="row mb-3">
                <label for="house_number" class="col-sm-3 col-form-label text-lg-end">Hausnummer*</label>
                <div class="col">
                    <input type="text" name="house_number" value="{{ appointment.house_number }}" maxlength="64" class="form-control" placeholder="Hausnummer" id="house_number">
                </div>
            </div>
            <div class="row mb-3">
                <label for="phone" class="col-sm-3 col-form-label text-lg-end">Telefon</label>
                <div class="col">
                    <input type="text" name="phone" value="{{ appointment.phone }}" maxlength="64" class="form-control" placeholder="Telefon-Nummer" id="phone">
                </div>
            </div>
            <div class="row mb-3">
                <label for="email" class="col-sm-3 col-form-label text-lg-end">EMail</label>
                <div class="col">
                    <input type="text" name="email" value="{{ appointment.email }}" maxlength="64" class="form-control" placeholder="E-Mail Adresse" id="email">
                </div>
            </div>
            <div class="row mb-3">
                <label for="text" class="col-sm-3 col-form-label text-lg-end">zusätzliche Informationen</label>
                <div class="col">
                    <textarea name="text" rows="5" class="form-control" placeholder="Informationen wo der Baum liegt, wie die Tür zu finden ist, etc." id="text">{{ appointment.text }}</textarea>
                </div>
            </div>
        </div>
        <div class="field-group my-5">
            <div class="row mb-2">
                <h5 class="offset-sm-3">Abholung</h5>
            </div>
            <div id="suggestion_list"></div>
            <div class="row mb-3">
                <label for="timeslot" class="col-sm-3 col-form-label text-lg-end">Zeitslot*</label>
                <div class="col">
                    <select class="form-select" name="timeslot" id="timeslot">
                        <option value="None">None</option>
                        {% for timeslot in timeslot_list %}
                        <option value="{{timeslot.id}}"{%if appointment.timeslot == timeslot %}selected{%endif%}>{{timeslot.date}}, {{timeslot.time_from}} bis {{timeslot.time_to}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        <div class="text-end my-3">
                <button type="submit" name="update" class="btn btn-primary">Speichern</button>
                <a class="btn btn-outline-danger" href="{% url 'wbsa:appointment_new' %}">Abbrechen</a>
        </div>
    </form>
<div class="field-group my-5">
</div>
{% endblock data %}
