{% extends 'base.html' %}

{% block titel %}Termin zur Abholung{% endblock titel %}

{% block data %}
{% if area.id %}
    <form autocomplete="new-password" action="{% url 'wbsa:appointment_edit' area.id %}" method="post" class="form-object-edit mt-5">
{% else %}
    <form autocomplete="new-password" action="{% url 'wbsa:appointment_new' %}" method="post" class="form-object-edit mt-5">
{% endif %}
    {% csrf_token %}
        <div class="field-group my-5">
            <div class="row mb-2">
                <h5 class="offset-sm-3">Kontaktdaten</h5>
            </div>
	        <div class="row mb-3">
                <label for="name" class="col-sm-3 col-form-label text-lg-end">Name</label>
                <div class="col">
                    <input type="text" name="name" value="{{ area.name }}" maxlength="64" class="form-control" id="name">
                </div>
            </div>

            <div class="row mb-3">
                <label for="parent" class="col-sm-3 col-form-label text-lg-end">Straße</label>
                <div class="col autocomplete">
                    <input type="text" name="street" value="{{ appointment.street }}" class="form-control" id="street_field" autocomplete="off">
                    <script>
                        var streets = [{% for street in street_list %}"{{street.name}}",{% endfor %}];
                        autocomplete(document.getElementById("street_field"), streets);
                    </script>
                </div>
            </div>
            <div class="row mb-3">
                <label for="name" class="col-sm-3 col-form-label text-lg-end">Hausnummer</label>
                <div class="col">
                    <input type="text" name="name" value="{{ area.name }}" maxlength="64" class="form-control" placeholder="Name" id="name">
                </div>
            </div>
            <div class="row mb-3">
                <label for="name" class="col-sm-3 col-form-label text-lg-end">Telefon</label>
                <div class="col">
                    <input type="text" name="name" value="{{ area.name }}" maxlength="64" class="form-control" placeholder="Name" id="name">
                </div>
            </div>
            <div class="row mb-3">
                <label for="name" class="col-sm-3 col-form-label text-lg-end">EMail</label>
                <div class="col">
                    <input type="text" name="name" value="{{ area.name }}" maxlength="64" class="form-control" placeholder="Name" id="name">
                </div>
            </div>
        </div>
        <div class="field-group my-5">
            <div class="row mb-2">
                <h5 class="offset-sm-3">Abholung</h5>
            </div>
            <div class="row mb-3">
                <label for="parent" class="col-sm-3 col-form-label text-lg-end">Zeitslot</label>
                <div class="col">
                    <select class="form-select" name="parent" id="parent">
                        <option value="None">None</option>
                        {% for timeslot in timeslot_list %}
                        <option value="{{street.id}}"{%if appointment.timeslot == timeslot %}selected{%endif%}>{{timeslot.date}}, {{timeslot.time_from}} bis {{timeslot.time_to}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        <div class="text-end my-3">
                <button type="submit" name="update" class="btn btn-primary">Speichern</button>
                <a class="btn btn-outline-danger" href="{% url 'wbsa:appointment_new' %}">Abbrechen</a>
        </div>
    </form>
<div class="field-group my-5">
</div>
{% endblock data %}
