<ul class="list-group w-100">
<li class="list-group-item list-group-item-action">Name: {{appointment.contact_name}}</li>
<li class="list-group-item list-group-item-action">
    Adresse: <a href="http://www.google.com/maps/place/{{ appointment.lat }},{{ appointment.lon }}">{{appointment.street}} {{appointment.house_number}}</a>
</li>
<li class="list-group-item list-group-item-action">Telefon: {{appointment.phone}}</li>
<li class="list-group-item list-group-item-action">EMail-Adresse: <a href="mailto:{{appointment.email}}">{{appointment.email}}</a></li>
<li class="list-group-item list-group-item-action">Abholung: {{appointment.timeslot.date}}, Zwischen {{appointment.timeslot.time_from}} und {{appointment.timeslot.time_to}} Uhr</li>
<li class="list-group-item list-group-item-action">Zusatz-Infos: {{appointment.text}}</li>
</ul>