{% extends 'base.html' %}

{% block titel %}Abholungen{% endblock titel %}

{% block data %}

{% if appointment_list %}
<form method="post" action="{% url 'wbsa:appointment_delete' %}" class="my-md-3">
{% csrf_token %}
<table class="table">
    <thead class="table-dark">
        <tr>
            <th><input type="checkbox" class="toggle form-check-input" name="select_all"></th>
            <th>Name <div name="filter-col"></div></th>
            <th>Straße <div name="filter-col"></div></th>
            <th>Uhrzeit</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for appointment in appointment_list %}
        <tr>
            <td><input type="checkbox" class="toggle form-check-input" value="{{appointment.id}}" name="select_row"></td>
            <td>{{appointment.contact_name}}</td>
            <td>{{appointment.street}}</td>
            <td>{{appointment.timeslot.date}} {{appointment.timeslot.time_from}}-{{appointment.timeslot.time_to}}</td>
            <td class="noprint text-end text-nowrap">
                <a class="btn btn-sm btn-success" type="button" onclick="showAppointmentDetails({{appointment.id}})">
                    <i class="bi bi-info-circle"></i>
                </a>
                <a class="btn btn-sm btn-warning" href="{% url 'wbsa:appointment_edit' appointment.id %}" type="button">
                    <i class="bi bi-pencil-square"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    <button type="submit" name="action" value="delete" class="btn btn-danger btn-sm">
        <i class="bi bi-trash3"></i> Delete Selected
    </button>
</form>

<div id="appointment_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details der Abholung</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p id="appointment_detail"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% else %}
Keine Abholungen angelegt!
{% endif %}
{% endblock data %}