{% extends 'base.html' %}

{% block titel %}Massenimport: Straßen{% endblock titel %}

{% block data %}
    <form action="{% url 'frontend:street_bulkadd' %}" method="post" class="form-object-edit mt-5">
    {% csrf_token %}
        <div class="field-group my-5">
	        <div class="row mb-3">
                <div class="col">
                    <textarea name="data" cols="30" rows="10" class="font-monospace form-control" id="data"></textarea>
                </div>
            </div>
            <div class="row mb-3">
                Eine Straße pro Zeile
            </div>
        <div class="text-end my-3">
                <button type="submit" name="update" class="btn btn-primary">Speichern</button>
                <a class="btn btn-outline-danger" href="{% url 'frontend:street_list' %}">Abbrechen</a>
        </div>
    </form>

{% endblock data %}
