{% extends 'base.html' %}

{% block titel %}Straßen{% endblock titel %}

{% block data %}

{% if street_list %}
<form method="post" action="{% url 'frontend:street_delete' %}" class="my-md-3">
    {% csrf_token %}
<table class="table">
    <thead class="table-dark">
        <tr>
            <th><input type="checkbox" class="toggle form-check-input" name="select_all"></th>
            <th>Name <div name="filter-col"></div></th>
            <th>Gebiet</th>
            <th>Fahrzeug</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for street in street_list %}
        <tr>
            <td><input type="checkbox" class="toggle form-check-input" value="{{street.id}}" name="select_row"></td>
            <td>{{street.name}}</td>
            <td>{{street.area}}</td>
            <td>{{street.area.parent}}</td>
            <td class="noprint text-end text-nowrap">
                <a class="btn btn-sm btn-warning" href="{% url 'frontend:street_edit' street.id %}" type="button">
                    <i class="bi bi-pencil-square"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    <div class="btn-group">
        <a href="{% url 'frontend:street_new' %}" class="btn btn-success btn-sm"><i class="bi     bi-plus-circle"  ></i> Neue Straße</a>
        <button type="button" class="btn btn-success btn-sm dropdown-toggle dropdown-toggle-split"    data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="{% url 'frontend:street_bulkadd' %}">
              <i class="bi bi-stack"></i> Massenimport</a>
          </li>
          <li><a href="#osm_import" class="dropdown-item" data-bs-toggle="modal">
              <i class="bi bi-cloud-download"></i> OSM Import</a>
          </li>
        </ul>
    </div>
    <button class="btn btn-warning btn-sm" formaction="{% url 'frontend:street_bulk_edit' %}" type="submit" name="_edit">Ausgewählte bearbeiten</button>
    <a href="#deleteConfirm" class="btn btn-danger btn-sm" data-bs-toggle="modal"><i class="bi bi-trash3"></i> Ausgewählte Löschen</a>

<div id="deleteConfirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Löschen von Straßen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
            Möchtest du die ausgewählten Straßen wirklich löschen?<br><br>
                <div class="text-danger">Dies löscht auch automatisch <b>ALLE</b> Abholungen, welche in dieser Straße stattfinden. Die Daten können nicht wiederhergestellt werden.</div>
            </div>
            <div class="modal-footer">
                <button type="submit" name="action" value="delete" class="btn btn-danger">Löschen</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>
</form>
<form method="get" action="{% url 'frontend:street_osm_import' %}">
<div id="osm_import" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Straßen aus OpenStreetMap importieren</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
            Bitte gib eine Postleitzahl ein, aus der <i>alle</i> Straßen importiert werden sollen:<br>
                <input class="form-control" type="number" id="plz" name="plz">
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Hinzufügen</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>
</form>
{% else %}
Keine Straßen angelegt!<br>
<a class="btn btn-primary btn-sm" href="{% url 'frontend:street_bulkadd' %}">
        <i class="bi bi-stack"></i> Massenimport
</a>
{% endif %}
{% endblock data %}