{% extends 'base.html' %}

{% block titel %}Straßen{% endblock titel %}

{% block data %}

{% if street_list %}
<form method="post"  class="my-md-3">
    {% csrf_token %}
<table class="table">
    <thead class="table-dark">
        <tr>
            <th><input type="checkbox" class="toggle form-check-input" name="select_all"></th>
            <th>Name <div name="filter-col"></div></th>
            <th>Gebiet</th>
            <th>Fahrzeug</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for street in street_list %}
        <tr>
            <td><input type="checkbox" class="toggle form-check-input" value="{{street.id}}" name="select_row"></td>
            <td>{{street.name}}</td>
            <td>{{street.area}}</td>
            <td>{{street.area.parent}}</td>
            <td class="noprint text-end text-nowrap">
                <a class="btn btn-sm btn-warning" href="{% url 'wbsa:street_edit' street.id %}" type="button">
                    <i class="bi bi-pencil-square"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    <a href="#deleteConfirm" class="btn btn-danger btn-sm" data-bs-toggle="modal"><i class="bi bi-trash3"></i> Ausgewählte Löschen</a>
    <a name="bulkadd" class="btn btn-primary btn-sm" href="{% url 'wbsa:street_bulkadd' %}">
        <i class="bi bi-stack"></i> Massenimport
    </a>
<div id="deleteConfirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Löschen von Straßen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
            Möchtest du die ausgewählten Straßen wirklich löschen?<br><br>
                <div class="text-danger">Dies löscht auch automatisch <b>ALLE</b> Abholungen, welche in dieser Straße stattfinden. Die Daten können nicht wiederhergestellt werden.</div>
            </div>
            <div class="modal-footer">
                <button type="submit" name="action" value="delete" class="btn btn-danger">Löschen</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>
</form>
{% else %}
Keine Straßen angelegt!<br>
<a name="bulkadd" class="btn btn-primary btn-sm" href="{% url 'wbsa:street_bulkadd' %}">
        <i class="bi bi-stack"></i> Massenimport
</a>
{% endif %}
{% endblock data %}