{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WBSA-Tool</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Lokale Funktionen der Seite -->
    <script type="text/javascript" src="{% static 'wbsa.js'%}"></script>
    <script type="text/javascript" src="{% static 'table_utils.js'%}"></script>
    <link rel="stylesheet" href="{% static 'wbsa.css'%}">
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand pe-5"><i class="bi bi-tree-fill"></i> WBSA-Tool</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
    {% if user.is_authenticated %}
            <div class="navbar-nav">
                {% if perms.frontend.view_area %}<a href="{% url 'frontend:area_list' %}" class="nav-item nav-link px-3"><i class="bi bi-map"></i> Gebiete</a>{% endif %}
                {% if perms.frontend.view_street %}<a href="{% url 'frontend:street_list' %}" class="nav-item nav-link px-3"><i class="bi bi-signpost-split"></i> Straßen</a>{% endif %}
                {% if perms.frontend.view_timeslot %}<a href="{% url 'frontend:timeslot_list' %}" class="nav-item nav-link px-3"><i class="bi bi-calendar-week"></i> Zeitslots</a>{% endif %}
                {% if perms.frontend.view_appointment %}<a href="{% url 'frontend:appointment_list' %}" class="nav-item nav-link px-3"><i class="bi bi-houses"></i> Abholungen</a>{% endif %}
                {% if perms.frontend.change_appointment %}<a href="{% url 'frontend:collect_menu' %}" class="nav-item nav-link px-3"><i class="bi bi-truck"></i> Fahrzeug</a>{% endif %}
                <a href="{% url 'frontend:appointment_map' %}" class="nav-item nav-link px-3"><i class="bi bi-geo-alt"></i> Karte</a>
            </div>
            <div class="navbar-nav ms-auto">
                {% if perms.frontend.add_appointment %}<a href="{% url 'frontend:appointment_new' %}" type="button" class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> Neue Abholung</a>{% endif %}
            </div>
            <div class="navbar-nav">
        {% else %}
            <div class="navbar-nav ms-auto">
        {% endif %}
                {% include "registration/user-status-icon.html" %}
            </div>
        </div>
    </div>
</nav>

{% if user.is_authenticated %}
<div class="container-md">
    <div class="px-md-3 py-md-3 my-md-3 bg-light">
        <h1 class="p-3">{% block titel %}{% endblock %}</h1>
        {% block data %}{% endblock data %}
    </div>
</div>
{% else %}
    {% block authform %}{% endblock authform %}
{% endif %}


    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    {% block jsfooter %}{% endblock %}
</body>
</html>