{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WBSA-Tool</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Lokale Funktionen der Seite -->
    <script type="text/javascript" src="{% static 'wbsa.js'%}"></script>
    <link rel="stylesheet" href="{% static 'wbsa.css'%}">
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="#" class="navbar-brand pe-5"><i class="bi bi-tree-fill"></i> WBSA-Tool</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <div class="nav-item dropdown px-2">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-map"></i> Gebiete</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'wbsa:area_list' %}" class="dropdown-item">Gebietsliste</a>
                        <a href="{% url 'wbsa:area_new' %}" class="dropdown-item">Neues Gebiet</a>
                    </div>
                </div>
                <a href="{% url 'wbsa:street_list' %}" class="nav-item nav-link px-3"><i class="bi bi-signpost-split"></i> Straßen</a>
                <a href="{% url 'wbsa:timeslot_list' %}" class="nav-item nav-link px-3"><i class="bi bi-calendar-week"></i> Zeitslots</a>
                <a href="{% url 'wbsa:appointment_list' %}" class="nav-item nav-link px-3"><i class="bi bi-houses"></i> Abholungen</a>
                <a href="{% url 'wbsa:appointment_map' %}" class="nav-item nav-link px-3"><i class="bi bi-geo-alt"></i> Karte</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a href="{% url 'wbsa:appointment_new' %}" type="button" class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> Neue Abholung</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-md">
    <div class="px-md-3 py-md-3 my-md-3 bg-light">
        <h1 class="p-3">{% block titel %}{% endblock %}</h1>
        {% block data %}{% endblock %}
    </div>
</div>
    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% block jsfooter %}{% endblock %}
</body>
</html>