{% extends 'base.html' %}


{% block titel %}
    {% if timeslot.id %}
        Zeitraum bearbeiten
    {% else %}
        Neuer Abholungszeitraum
    {% endif %}
{% endblock titel %}

{% block data %}
{% if timeslot.id %}
    <form action="{% url 'frontend:timeslot_edit' timeslot.id %}" method="post" class="form-object-edit mt-5">
{% else %}
    <form action="{% url 'frontend:timeslot_new' %}" method="post" class="form-object-edit mt-5">
{% endif %}
    {% csrf_token %}
        <div class="field-group my-5">
	        <div class="row mb-3">
                <label for="date" class="col-sm-3 col-form-label text-lg-end">Datum</label>
                <div class="col">
                    <input class="form-control w-auto" type="date" id="date" name="date" value="{{ timeslot.date | date:'Y-m-d' }}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="time_from" class="col-sm-3 col-form-label text-lg-end">Beginn</label>
                <div class="col">
                    <input class="form-control w-auto" type="time" id="time_from" name="time_from" value="{{ timeslot.time_from }}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="time_to" class="col-sm-3 col-form-label text-lg-end">Ende</label>
                <div class="col">
                    <input class="form-control w-auto" type="time" id="time_to" name="time_to" value="{{ timeslot.time_to }}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="appointment_max" class="col-sm-3 col-form-label text-lg-end">Maximale Abholungen</label>
                <div class="col">
                    <input class="form-control w-auto" type="appointment_max" id="appointment_max" name="appointment_max" value="{{ timeslot.appointment_max }}">
                </div>
            </div>
        </div>
        <div class="text-end my-3">
                <button type="submit" name="update" class="btn btn-primary">Speichern</button>
                <a class="btn btn-outline-danger" href="{% url 'frontend:timeslot_list' %}">Abbrechen</a>
        </div>
    </form>

{% endblock data %}