<div class="row mb-3">
    <label for="suggestion" class="col-sm-3 col-form-label text-lg-end">Vorschläge:</label>
    <div class="col">
        <div class="list-group w-50">
            {% for suggestion in suggestion_list %}
            <a onclick="acceptSuggestion({{ suggestion.timeslot.id }})" class="list-group-item list-group-item-action">
                {{suggestion.timeslot.date}}, Zwischen {{suggestion.timeslot.time_from}} und {{suggestion.timeslot.time_to}} Uhr
                <span class="badge rounded-pill bg-primary float-end">{{ suggestion.count }}</span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>