{% extends 'base.html' %}

{% block titel %}Abholungszeiträume{% endblock titel %}

{% block data %}

{% if timeslot_list %}
<form class="my-md-3" action="{% url 'frontend:timeslot_delete' %}" method="post">
{% csrf_token %}
<table class="table">
    <thead class="table-dark">
        <tr>
            <th><input type="checkbox" class="toggle form-check-input" name="select_all">
            </th><th>Datum</th>
            <th>von</th>
            <th>bis</th>
            <th>Auslastung</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for timeslot in timeslot_list %}
        <tr>
            <td><input type="checkbox" class="toggle form-check-input" name="select_row" value="{{timeslot.id}}"></td>
            <td>{{timeslot.date}}</td>
            <td>{{timeslot.time_from|date:"H:i"}}</td>
            <td>{{timeslot.time_to|date:"H:i"}}</td>
            <td>
                {% with timeslot.get_all_percentage as p_list %}
                {% for p_entry in p_list %}
                <div class="d-flex align-items-center">
                    <span>{{ p_entry.name }}</span>
                    <div class="col mx-2">
                        <div class="progress" role="progressbar">
                            <div class="progress-bar progress-bar-striped overflow-visible
                            {% if p_entry.percentage >= 100 %}bg-danger
                            {% elif p_entry.percentage >= 70 %}bg-warning text-dark
                            {% elif p_entry.percentage <= 10 %}bg-success text-dark
                            {% else %}bg-success{% endif %}" style="width: {{ p_entry.percentage }}%">
                            {{ p_entry.count }}/{{ timeslot.appointment_max }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endwith %}
            </td>
            <td class="noprint text-end text-nowrap">
                <a class="btn btn-sm btn-warning" href="{% url 'frontend:timeslot_edit' timeslot.id %}" type="button">
                    <i class="bi bi-pencil-square"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    <a href="{% url 'frontend:timeslot_new' %}" type="button" class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> Neuer Abholungszeitraum</a>
    <a href="#deleteConfirm" class="btn btn-danger btn-sm" data-bs-toggle="modal"><i class="bi bi-trash3"></i> Ausgewählte Löschen</a>


<div id="deleteConfirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Löschen von Zeiträumen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
            Möchtest du die ausgewählten Zeiträume wirklich löschen?<br><br>
                <div class="text-danger">Dies löscht auch automatisch <b>ALLE</b> Abholungen, welche in diesem Zeitraum stattfinden. Die Daten können nicht wiederhergestellt werden.</div>
            </div>
            <div class="modal-footer">
                <button type="submit" name="action" value="delete" class="btn btn-danger">Löschen</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>
</form>
{% else %}
Keine Abholungszeiträume angelegt!<br>
<a href="{% url 'frontend:timeslot_new' %}" type="button" class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> Neuer Abholungszeitraum</a>
{% endif %}
{% endblock data %}