{% extends 'base.html' %}

{% block data %}
    <div name="appointment_view_type" id="collect" style="display: none;"></div>
    {% csrf_token %}
    <table class="table">
    {% for appointment in object_list %}
        <tr>
        <td class="{% if appointment.is_collected %}bg-success{% else %}bg-warning{% endif %}" onclick="showAppointmentDetails({{ appointment.id }})" id="status_{{ appointment.id }}">
            {{ appointment.contact_name }}<br>
            {{ appointment.street.name }} {{ appointment.house_number }}
        </td>
        </tr>
    {% endfor %}
    </table>
    <a href="{% url "wbsa:collect_menu" %}" class="btn btn-primary my-3">Zurück zum Menü</a>
<div id="appointment_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="appointment_detail">
        </div>
    </div>
</div>
{% endblock data %}